@tailwind base;
@tailwind components;
@tailwind utilities;



canvas {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #8a8989;
    color: #fff;
}